<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Book!</title>
</head>
<body>
<form action='/book/new' method='POST'>
    <label>Title: <input th:field="${book.title}"></label><br />
    <p th:errors="${book.title}"></p>
    <label>Author: <select th:field="${book.author}">
        <option th:each="author : ${authors}"
                th:value="${author.id}"
                th:text="${author.getAuthorName()}"></option>
    </select></label><br />
    <label>ISBN: <input th:field="${book.isbn}"></label><br />
<br/>
    <input type='submit'>
</form>